@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html {
  font-size: 62.5%;
}

body {
  background-color: aliceblue;
}

.player {
  position: absolute;
  top: 30%;
  left: 10%;
}

@media only screen and (max-width: 450px) {
  .player {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.player .info {
  position: absolute;
  height: 6rem;
  top: 0;
  opacity: 0;
  left: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: .5rem 1.5rem .5rem 11rem;
  border-radius: 1.5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 450px) {
  .player .info {
    padding: .5rem 1.5rem .5rem 5rem;
    height: 8rem;
  }
}

.player .info .artist,
.player .info .name {
  display: block;
  text-transform: capitalize;
}

.player .info .artist {
  color: #222;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.player .info .name {
  color: #999;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.player .info .progress-bar {
  background-color: #ddd;
  height: .2rem;
  width: 100%;
  position: relative;
}

.player .info .progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  width: 10%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.player .info.active {
  top: -6rem;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 450px) {
  .player .info.active {
    top: -8rem;
  }
}

.player .control-panel {
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 30rem;
  height: 8rem;
  z-index: 5;
  -webkit-box-shadow: 0 2rem 2rem 0.5rem rgba(132, 132, 132, 0.3);
          box-shadow: 0 2rem 2rem 0.5rem rgba(132, 132, 132, 0.3);
}

@media only screen and (max-width: 450px) {
  .player .control-panel {
    width: 20rem;
  }
}

.player .control-panel .album-art {
  position: absolute;
  left: 2rem;
  top: -1.5rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0);
          box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.player .control-panel .album-art::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.player .control-panel .album-art::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8rem;
  background-image: url("https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd");
}

.player .control-panel.active .album-art {
  -webkit-box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.player .control-panel .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 8rem;
  padding: 0 1.5rem;
}

.player .control-panel .controls .play {
  width: 5.5rem;
  height: auto;
  border-radius: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2rem;
  margin: .5rem 0;
  background-color: #fff;
  cursor: pointer;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}

.player .control-panel .controls .play:hover {
  background-color: rgba(238, 238, 238, 0.2);
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}

.player .control-panel .controls .play {
  background-image: url("../image/play.svg");
}

.player .control-panel.active .controls .play {
  background-image: url("../image/pause.svg");
}

#track {
  display: none;
}
/*# sourceMappingURL=style.css.map */