
.player {
	position: absolute;
    top: 30%;
    left: 10%;

    @include respond-phone{
        left: 50%;
        transform: translateX(-50%);
    }

	.info {
		position: absolute;
		height: 6rem;
		top: 0;
		opacity: 0;
		left: 1rem;
		right: 1rem;
		background-color: rgba(255, 255, 255, 0.5);
		padding: .5rem 1.5rem .5rem 11rem;
		border-radius: 1.5rem;
        transition: all .5s ease;
        
        @include respond-phone{
            padding: .5rem 1.5rem .5rem 5rem;
            height: 8rem;
        }

		.artist,
		.name {
            display: block;
            text-transform: capitalize;
		}

		.artist {
			color: #222;
			font-size: 1.6rem;
            margin-bottom: .5rem;
            
		}

		.name {
			color: #999;
			font-size: 1.2rem;
			margin-bottom: .8rem;
		}

		.progress-bar {
			background-color: #ddd;
			height: .2rem;
			width: 100%;
			position: relative;

			.bar {
				position:absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: red;
				width: 10%;
				transition: all .2s ease;
			}
		}
		&.active {
			top: -6rem;
			opacity: 1;
            transition: all .5s ease;
            @include respond-phone{
                top: -8rem;
            }
		}
	}
	.control-panel {
		position: relative;
		background-color: #fff;
		border-radius: 1.5rem;
		width: 30rem;
		height: 8rem;
		z-index: 5;
        box-shadow: 0 2rem 2rem .5rem rgba(132, 132, 132, 0.3);
        
        @include respond-phone{
            width: 20rem;
        }
		
		.album-art {
			position: absolute;
			left: 2rem;
			top: -1.5rem;
			height: 8rem;
			width: 8rem;
			border-radius: 50%;
			box-shadow: 0 0 2rem .5rem rgba(0, 0, 0, 0);
			transform: scale(1);
			transition: all .5s ease;
	
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 1.5rem;
				height: 1.5rem;
				background-color: #fff;
				border-radius: 50%;
				z-index: 5;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
			
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 8rem;
				background-image: 	url('https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd');
			}
		}
		
		&.active .album-art {
			box-shadow: 0 0 2rem .5rem rgba(0, 0, 0, 0.2);
			transform: scale(1.2);
			transition: all .5s ease;
		}
		
		&.active .album-art::before {
			animation: rotation 3s infinite linear;
			-webkit-animation: rotation 3s infinite linear;
			animation-fill-mode: forwards;
		}
		
		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}
			
			100% {
				transform: rotate(360deg);
			}
		}
		
		.controls {
			display: flex;
			justify-content: flex-end;
			height: 8rem;
			padding: 0 1.5rem;
			
			.play{
				width: 5.5rem;
				height: auto;
				border-radius: 1rem;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 2rem;
				margin: .5rem 0;
				background-color: #fff;
				cursor: pointer;
				transition: background-color .3s ease;
				-webkit-transition: background-color .3s ease;
			}
			 
			.play:hover {
				background-color: rgba(238, 238, 238, 0.2);
				transition: background-color .3s ease;
				-webkit-transition: background-color .3s ease;
			}
			
			
			.play {
				background-image: url('../image/play.svg');
			}
			
		}
		
		&.active .controls .play {
			background-image: url('../image/pause.svg');
		}
	}
}

#track{
    display: none;
}